.cm-activeLineGutter, .cm-activeLine {
  background-color: "transparent" !important;
}

.cm-scroller {
  font-family: "Fira Mono" !important;
}

.cm-editor {
  height: 100%;
  outline: none !important;
}

.cm-gutters {
  padding-right: 6px;
  margin-right: 6px;
}

.cm-line {
  color: #444;
}

.cmt-typeName {
  color: #c78800;
}

.cmt-keyword {
  color: #A626A4;
}

.cmt-labelName {
  color: #0184BC;
}

.cmt-variableName, .cmt-propertyName {
  color: #DD4A68;
}

.cmt-string {
  color: #50A14F;
}

.cmt-string2 {
  color: #1aa437;
}

.cmt-comment {
  color: slategray;
}

.cmt-punctuation {
  color: #999;
}

.cmt-regex, .cmt-boolean, .cmt-number {
  color: #905;
}

.cmt-operator {
  color: #9a6e3a;
}

.cmt-important, .cmt-bold {
  font-weight: bold;
}
.cmt-italic {
  font-style: italic;
}