.cm-activeLineGutter, .cm-activeLine {
  background-color: "transparent" !important;
}

.cm-scroller {
  font-family: "Fira Mono" !important;
  /* font-size: 16px; */
}

.cm-editor {
  height: 100%;
  outline: none !important;
}